<div id="<%= dom_id platform %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= platform.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= platform.code %>
  </p>

</div>
